.MyButton{
    font-size: 20px;
    padding: 10px;
    background-color: #21ff19;
    color: white;
    border-radius: 20px;
    border: none;
}

.MyButton:disabled{
    background-color: #a0ff9d;
    cursor: default;
}

.MyButton:hover{
    cursor: pointer;
}